
        <div  class="row mt-1 ms-5 "  >
          <div  class="w3-col m12 " >
            <h1 style="text-align: center; color: rgba(218, 6, 6, 0.715) ; margin-top: 15px;">
              Create your Event  </h1>
              <hr class="link-danger" style="height: 1px; " >
              <div style="margin-top: 30px;  ">
         <div  class="w3-col m4 "  >
           <h5>Title of event *</h5>        
           <input style="max-width: 300px;" type="text" class="form-control" value="John Doe">
           <h5>Name of organizer *</h5>        
           <input style="max-width: 300px;" type="text" class="form-control" value="John Doe">
         <h5>Category of event</h5>
         <select style="max-width: 300px;" class="form-select" name="event" id="">
            
          <option value=""></option>


      </select>  
         </div>
           <div    class="w3-col m4">
             <h5>Description of event</h5>           
<textarea name="" id=""class="form-control"  style="max-width: 300px;" ></textarea>   
         <h5>Date of event</h5>          
             <input   style="max-width: 300px;" type="date" class="form-control" value="John Doe">
             <h5>Locality of event</h5>         
             <select style="max-width: 300px;" class="form-select" name="event" id="">
            
              <option value=""></option>


          </select>  
        </div>
<div class="w3-col m4"   >
  
  <h5>Maximum participants</h5>
           <input style="max-width: 300px;" type="number" class="form-control" value="John Doe">
           <h5>Image </h5>
<div>
    <!-- <label for="files" class="btn">Select Image</label>
    <input id="files" style="visibility:hidden;" type="file"> -->
</div>
           <!-- <button  style="max-width: 300px;"class="form-control" onclick="document.getElementById('fileUpload').click()">Choice image</button>
<input  type="file" id="fileUpload" name="files" style="display:none" /> -->

</div>
       </div>    
        <div class="w3-col m10 mt-5 " style="display: flex; justify-content: end;" >
         <button style="width: 80px; "  type="submit" class="btn btn-danger">Save
       </button>
       <button style="width: 80px; margin-left: 10px; "  class="btn btn-danger" type="reset">Reset
       </button></div>
       </div>
           </div>
            
          
  