<div class="container-fluid pt-5 mb-4 "   >
  <div class="row px-xl-5">
      <!--  Sidebar Start -->
      <div class="col-md-3 w3-round" style="background-color:#f8f9fa;" >
        <form action="">
          <div class="border-bottom mb-4 pb-4     ">
              <h3 class="w3-center"  style="color: #dc3545 ; margin-top: 30px;"> <b>Fixe a categorie</b> </h3>
              
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
               <label class="custom-control-label" >All categories</label>
               <input class="form-check-input mt-0" type="checkbox" value="" checked aria-label="Checkbox for following text input">
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                      <label class="custom-control-label" >  Virtual Conferences & Summits
                      </label>
                      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                     <label class="custom-control-label" >Virtual Product Launches
                      </label>
                      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                     <label class="custom-control-label" >Virtual Open Days
                      </label> 
                      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                  </div>
                  <div  class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <label class="custom-control-label" >Virtual Trade Shows & Expos
                      </label> 
                      <input  class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input ">
                      
                  </div>
          </div>
          <div class="border-bottom mb-4 pb-4  ">
                <h3 class="w3-center"  style="color: #dc3545"> <b>Choice a locality</b> </h3>            
                        <select class="form-select form-select mt-4" aria-label=".form-select example">
                      <option selected>Open this select menu</option>
                      <option value="1">Sousse</option>
                      <option value="2">Tunisia</option>
                      <option value="3">Tataouin</option>
                    </select>
          </div>
          <div class="border-bottom mb-4 pb-4 ">
                <div>
                <h3 class="w3-center"  style="color: #dc3545"> <b>Choice a day</b> </h3>        
                            <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
         </div>
         <button class="w3-center"   type="submit" class="btn btn-danger mt-2" >filter</button>
          </div></form>
      </div>
      <div class="container col-md-8" style="background-color:#f8f9fa; border-radius: 5px; " >
      
        <router-outlet></router-outlet>
        
            
      </div>
    </div>
      </div>
      <!--  Sidebar End -->
         