
 <div class="w3-row-padding" class="w3-round ms-2 me-2">
    <div class="w3-col m12 w3-container">
      <div class="w3-card w3-round w3-white">
        <div>
          <div class="w3-center"   >
          <h1>Images Archive</h1></div>
          <div  class="m-5 ">
<img style="margin-bottom: 10px; margin-left: 4px;" class="img-fluid" src="../../../assets/images/astoundGroup.jpeg" alt="">
<img style="margin-bottom: 10px;  margin-left: 4px;" class="img-fluid" src="../../../assets/images/chik.jpeg" alt="">
<img  style="margin-bottom: 10px;  margin-left: 4px;" class="img-fluid" src="../../../assets/images/hargrove.jpeg" alt="">
<img style="margin-bottom: 10px;  margin-left: 4px;" class="img-fluid" src="../../../assets/images/chik.jpeg" alt="">
<img  style="margin-bottom: 10px;  margin-left: 4px;" class="img-fluid" src="../../../assets/images/hargrove.jpeg" alt="">
            
</div>
 </div>
      </div>
      <div class="w3-card w3-round w3-white">

        <div   >
          <div class="w3-center">

          <h1> PDF Archive </h1> </div>
          <div  class="m-5" style="margin-bottom: 20px;" >
            <ul style="list-style: none; "   >
<li> <h3><a style="text-decoration: none;" href="">Espita  product launche</a>   </h3>  </li>
<li> <h3> <a style="text-decoration: none;" href="">Full stack JS - innevLabs</a> </h3>  </li>
</ul>
</div>

       
       </div>
      </div>
      <div class="w3-card w3-round w3-white">
        <div   >
          <div class="w3-center">

          <h1> Videos Archive </h1> </div>
          <div  class="m-5" style="margin-bottom: 20px;" >
            <ul style="list-style: none; "   >
<li> <h3><a style="text-decoration: none;" href="">Espita  product launche</a>   </h3>  </li>
<li> <h3> <a style="text-decoration: none;" href="">Full stack JS - innevLabs</a> </h3>  </li>
</ul>
</div>

       
       </div>
      </div>
    </div>
</div>
  
  