 <!-- Middle Column --> 
  <div class="w3-container w3-card w3-white w3-round w3-margin">
      <div>
    <!-- <span class="w3-right w3-opacity">1 min</span> -->
    <h4 style="margin-top: 20px;"  >ESPITA</h4><br>
    <hr class="w3-clear">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
          <img src="../../../assets/images/physical.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <h4>Date of event:30/07/2022</h4>     
            <h4>Location:Sousse</h4>     
            <h4>Date of publication:27/07/2022</h4>     
            <h4>Number avalaible of place:</h4>       
           </div>
    </div>
    <button type="button" class="w3-button w3-red w3-margin-bottom"><i class="fa fa-thumbs-up"></i> &nbsp;Save</button> 
 </div> </div>
 <div class="w3-container w3-card w3-white w3-round w3-margin">
    <div>
  <h4>InnevLabs</h4><br>
  <hr class="w3-clear">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="../../../assets/images/physical.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
      </div>
      <div class="w3-half">
        <h4>Date of event:30/07/2022</h4>     

   <h4>Location:Sousse</h4>     
   <h4>Date of publication:27/07/2022</h4>     
   <h4>Number avalaible of place:</h4>     

      </div>
  </div>
  <button type="button" class="w3-button w3-red w3-margin-bottom"><i class="fa fa-thumbs-up"></i> &nbsp;Save</button> 
</div> </div>
  
  
  <!-- End Middle Column -->
  