
 <div class="col  mt-5" style="margin-left: 40%;margin-right: 60%;" id="top50">
  <div class=" m-5 pt-1" style="color: red;border: 30px;justify-items: center;text-justify: inter-cluster;"  >
  <h3><b>FAB EVENT</b></h3> 
</div>
    <div class="card h-100">
    
    <img src="../../../assets/images/top50.jpg" class="card-img-top" alt="top50"  >
    <div class="card-body">
      <h5 class="card-title">THE TOP FABRICATORS SERVING THE EVENT AND TRADE SHOW INDUSTRY</h5>
    </div>
  </div>
</div><br><br>
<hr style="border: 8px solid gray;
border-radius: 5px;margin-top: 10px; ">


   
<!-- //////////////////////////////////////// -->

<!-- //////////////////////// -->
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
 
    <div class="col"><a href=""  data-toggle="modal" data-target="#myModal" style="text-decoration:none;">
      
       <div class="card h-100">
       
        <img src="../../../assets/images/astoundGroup.jpeg" class="card-img-top" alt="astoundGroup" data-bs-toggle="#Mymodal">
        <div class="card-body">
          <h5 class="card-title">ASTOUND GROUP</h5>
        </div>
      </div></a>
    </div>  
    <!-- .modal -->
    <!-- Button to Open the Modal -->


<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5"><img src="../../../assets/images/instagam.png" width="20px" height="20px">
        <img src="../../../assets/images/icotwitter.png" width="20px" height="20px" >
        <img src="../../../assets/images/facebook.png" width="20px" height="20px" >
        <img src="../../../assets/images/google+.png" width="20px" height="20px" >
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>







    <div  class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;">
      <div class="card h-100">
        <img src="../../../assets/images/adex.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADEX INTERNATIONAL</h5>
        </div>
      </div> </a>
    </div>



<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5"><img src="../../../assets/images/instagam.png" width="20px" height="20px">
        <img src="../../../assets/images/icotwitter.png" width="20px" height="20px" >
        <img src="../../../assets/images/facebook.png" width="20px" height="20px" >
        <img src="../../../assets/images/google+.png" width="20px" height="20px" >
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


    <div class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;" >
      <div class="card h-100"> 
        <img src="../../../assets/images/acer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ACER EXHIBITS AND EVENTS </h5>
        </div>
      </div></a>
    </div>

<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5"><img src="../../../assets/images/instagam.png" width="20px" height="20px">
        <img src="../../../assets/images/icotwitter.png" width="20px" height="20px" >
        <img src="../../../assets/images/facebook.png" width="20px" height="20px" >
        <img src="../../../assets/images/google+.png" width="20px" height="20px" >
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

    
    <div class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;" >
      <div class="card h-100">
        <img src="../../../assets/images/bombshell.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BOMBSHELL PRODUCTIONS</h5>
        </div>
      </div></a>
    </div>

    
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5"><img src="../../../assets/images/instagam.png" width="20px" height="20px">
        <img src="../../../assets/images/icotwitter.png" width="20px" height="20px" >
        <img src="../../../assets/images/facebook.png" width="20px" height="20px" >
        <img src="../../../assets/images/google+.png" width="20px" height="20px" >
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <div class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;">
            <div class="card h-100">
              <img src="../../../assets/images/acer.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ACER EXHIBITS AND EVENTS </h5>
              </div>
            </div></a>
          </div>
          <div class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;"> 
            <div class="card h-100">
              <img src="../../../assets/images/chik.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CHICAGO EXHIBIT PRODUCTIONS
                </h5>
              </div> 
            </div></a>
          </div>
 
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5"><img src="../../../assets/images/instagam.png" width="20px" height="20px">
        <img src="../../../assets/images/icotwitter.png" width="20px" height="20px" >
        <img src="../../../assets/images/facebook.png" width="20px" height="20px" >
        <img src="../../../assets/images/google+.png" width="20px" height="20px" >
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <div class="col">
   <a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;"> <div class="card h-100">
      <img src="../../../assets/images/centerpoint.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CENTERPOINT MARKETING
        </h5>
      </div>
    </div></a>
  </div>
  
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5"><img src="../../../assets/images/instagam.png" width="20px" height="20px">
        <img src="../../../assets/images/icotwitter.png" width="20px" height="20px" >
        <img src="../../../assets/images/facebook.png" width="20px" height="20px" >
        <img src="../../../assets/images/google+.png" width="20px" height="20px" >
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <div class="col">
    <a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;"><div class="card h-100">
      <img src="../../../assets/images/creative-dimensions.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CREATIVE DIMENSIONS</h5>
      </div>
    </div></a>
  </div>
  
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5"><img src="../../../assets/images/instagam.png" width="20px" height="20px">
        <img src="../../../assets/images/icotwitter.png" width="20px" height="20px" >
        <img src="../../../assets/images/facebook.png" width="20px" height="20px" >
        <img src="../../../assets/images/google+.png" width="20px" height="20px" >
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <div class="col">
    <a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;" ><div class="card h-100">
      <img src="../../../assets/images/hargrove.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="cardTitle">HARGROVE</h5>
      </div> 
    </div></a>
  </div>
 </div>

 
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5"><img src="../../../assets/images/instagam.png" width="20px" height="20px">
        <img src="../../../assets/images/icotwitter.png" width="20px" height="20px" >
        <img src="../../../assets/images/facebook.png" width="20px" height="20px" >
        <img src="../../../assets/images/google+.png" width="20px" height="20px" >
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

