
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:30px; ">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m2">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 style="color:rgba(218, 6, 6, 0.715);"   class="w3-center"> <b>My Profile</b>  </h4>
                         <p class="text-center" class="w3-center">
  <img  class="img-fluid " src="https://cdn-icons-png.flaticon.com/512/149/149071.png" 
           class="w3-circle" style="height:100px;width:100px ; " alt="Avatar"><br>
  <a  routerLink="/side/EditProf"   style="text-decoration: none; color:rgba(218, 6, 6, 0.715);" href="">
        <b>Edit profil</b>    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
        </svg> </a></p>
          </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round" >
        <div  class="w3-white">
          <button routerLink="/side/createEv" onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align">
            <i class="fa fa-circle-o-notch fa-fw "></i> Create Event</button>
          <button routerLink="/side/MyEv"  class="w3-button w3-block w3-theme-l1 w3-left-align">
            <i class="fa fa-calendar-check-o fa-fw "></i>My Events </button>
          <button   routerLink="/side/Doc"   class="w3-button w3-block w3-theme-l1 w3-left-align">
            <i class="fa fa-users fa-fw "></i> Documents</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
           <b><a style="text-decoration: none; color: rgba(218, 6, 6, 0.715);" href=""    >PDF's</a> </b>          
            </div>
           <div class="w3-half">
           <b> <a style="text-decoration: none; color: rgba(218, 6, 6, 0.715);" href="">  Photos </a></b>   </div>
         </div>
          </div>
        </div>      
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white ">
        <div class="w3-container">
    <h4 class="text-center" style="color:rgba(218, 6, 6, 0.715); margin-top: 20px;"> <b> Upcoming Events:</b> </h4> 
          <img src="../../../assets/images/astoundGroup.jpeg" alt="" style="width:100%;">
          <h4 class="text-center"  style="color:rgba(218, 6, 6, 0.715); margin-top: 20px;"> <b>Friday 15:00</b>   </h4>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
        </div>
      <br>
      
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>
    
    </div>
    
    <div    class="w3-col m10 w3-round ">
    <router-outlet></router-outlet>
    </div>
   
    </div>
    
  </div>
  
