
        <div  class="row mt-5 ms-5 " >
           <div class="col-lg-10">
                <div class="card"> 
                    <div class="card-head " style="margin-left: 400px;"  >
                        <h1>My Profile </h1>
                    </div> 
                  <div class="card-body  ms-5 ">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h3 class="mb-0">Full Name</h3>
                            </div>
                            <div class="col-sm-5 text-secondary">
                                <input type="text" class="form-control" value="John Doe">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h3 class="mb-0">Email</h3>
                            </div>
                            <div     class="col-sm-6 text-secondary">
                                          <input  class="form-control" type="email">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h3 class="mb-0">Photo</h3>
                            </div>
                            <div class="col-sm-5 text-secondary">
                              <input type="file" class="form-control" value="your photo"   >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h3 class="mb-0">Mobile</h3>
                            </div>
                            <div class="col-sm-5 text-secondary">
                                <input type="text" class="form-control" value="(320) 380-4539">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h3 class="mb-0">Address</h3>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <input type="text" class="form-control" value="Bay Area, San Francisco, CA">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="button" class="btn  px-4" style="background-color: rgba(218, 6, 6, 0.715)  ; color: white;" value="Save Changes">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
             
            </div>
   